<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BeetMallChat</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<style>
	#chatForm{ 	/* 채팅창 전체 */ 
		height:620px;
		width:500px;
		background-color:rgb(252,118,45);
		border-radius: 3px;
		
	}
	#chatCap{ /* 상단 작업표시줄 */
		width:500px;
		height:20px;
		background-color:rgb(252,118,45);
	}
	#chatHeader{ /* 정보랑 x표 있어서 창 닫는곳 */
		width:500px;
		height:50px;
		background-color:white;
		text-align:center;
		line-height:50px;
	}
	#chatHeader>span:first-child{
		font-size:16px;
	}
	#chatHeader>span:nth-child(2){
		font-size:17px;
		font-weight:bold;
	}
	#chatHeader>span:last-child{
		font-size:20px;
		font-weight:bold;
		float:right;
		padding-right:15px;
	}
	#chatContent{ /* 채팅 내용 나오는 곳 */
		height:480px;
		width:500px;
		background-color:rgb(250, 230, 210);
		overflow-x:none;
		overflow-y:scroll;
	}
	
	#chatForm{ /* 채팅 입력하는 부분 */
		height:110px;
		width:500px;
	}
	#chatForm>textarea{
		height:110px;
		width:450px;
		padding:5px;
	}
	#chatForm>input{
		height:110px;
		width:50px;
		padding:0px;
		border:none;
		float:right;
		background-color:rgb(252,118,45);
		color:white;
		border-radius: 3px;
	}
	.wordcut{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.chatThey, .myChat{
		font-size:14px;
	}
	.chatThey{
		background-color:rgb(250,250,250);
		border-radius:5px;
		width:260px;
		margin-left:10px;
		margin-right:3px;
		margin-top:15px;
		padding:5px;
		float: left;
	}
	.myChat{
		background-color:rgb(250,250,250); 
		border-radius:5px;
		width:260px;
		margin-left:210px;
		margin-top:15px;
		padding:5px;
		float: left;
		
	}
	#chatContent>div:last-child{
		margin-bottom:15px;
	}
	.theytime, .mytime{
		color:white;
		font-size:11px;
		width:50px;
		position:absolute;
		padding-bottom:5px;
		bottom:-5px;
	}
	.mytime{
		left:150px;
	}
	.theytime{
		left:275px;
	}
	#sendMsg{
		
		background-color:rgb(253, 253, 253);
	}
</style>
<script>
	var socket;
	$(function(){ 
		$("#chatContent").scrollTop($("#chatContent")[0].scrollHeight);
		// 1. 서버에 접속하기
		socket = io.connect(); // connection이벤트 발생시킴
		var roomCode = $("#roomCode").val();
		var time = "";
		timeset();
		// 2. 클라이언트가 서버로 문자를 보내는 이벤트 발생시킴
		socket.emit('join', roomCode);
		
		// 3. 서버에서 보내는이벤트가 발생하면 실행할 함수
		socket.on('response', function(msg){
			var sender = msg.split("|")[0];
			var receiver = msg.split("|")[1];
			var message = msg.split("|")[2];
			timeset();
			var temp = '<div style="float:left;width:480px;position:relative;">';
						if(sender == '<%=sender%>'){
							temp +='<div class="myChat">'
						}else{
							temp +='<div class="chatThey">'
						}
						temp += message+'<span class="mytime">'+
							time+'</span></div></div>';
			$("#chatContent").append(temp);
			$("#chatContent").scrollTop($("#chatContent")[0].scrollHeight);
		});
		
		// 4. 폼에 보낼 문자를 입력후 서버로 전송하는 이벤트
		$("#send").click(function(){
			sendMessage();
		});
		
		$("#sendMsg").keyup(function(event){
			if(event.keyCode==13){
				sendMessage();
			}
		});
			
			
		// 5. 서버로 문자 보내는 함수
		function sendMessage(){
			var inputtxt = $("#sendMsg").val()
			var txt = inputtxt.trim().length;
			if(txt>0){
				var txt = "<%=sender%>|<%=receiver%>|"+$("#sendMsg").val()+"|<%=roomcode%>";
				if(txt!= ''){
					socket.emit('message',txt);
					$("#sendMsg").val('');
					$("#sendMsg").focus();
				}	
			}
		};
		function timeset(){
			var date = new Date();
			var year = date.getFullYear();
		    var month = date.getMonth()+1;
		    var day = date.getDay();
		    var hours = date.getHours();
		    var minutes = date.getMinutes();
		    var seconds = date.getSeconds();
		    time = year+"/"+zerosum(month)+"/"+zerosum(day)+" "+zerosum(hours%12)+":"+zerosum(minutes)+":"+zerosum(seconds);
		}
		function zerosum(num){
			if(num < 10){
				num = "0"+num;
			}else{
				num
			}
			return num;
		}
	});
	
</script>
</head>
<body>
	<div id="chatForm">
		<div id="chatContent" style="position:relative;">
		<input type="hidden" value="<%=roomcode%>" id="roomCode"/>
			<% var cnt = 10;
				for(var i = 0; i < results.rows.length;i++){ 
				var top = 70; %>
				
				<% if(results.rows[i][4] == sender){%>
					<div style="float:left;width:480px;position:relative;"><div class="myChat" style="top:<%=cnt%>px;"><%=results.rows[i][6]%><span class="mytime"><%=results.rows[i][5]%></span></div></div>
				<% } %>
				<% if(results.rows[i][4] != sender){ %>
					<div style="float:left;width:480px;position:relative;"><div class="chatThey" style="top:<%=cnt%>px;"><%=results.rows[i][6]%><span class="theytime"><%=results.rows[i][5]%></span></div></div>
				<% } %>	
			<% 
				cnt = cnt + top;
				} 
			%>
		</div> <!-- 채팅 내용 나오는 곳 -->
		<div id="chatFooter">
			<form id="chatForm" action="chatsubmit">
				<textarea maxlength="107" id="sendMsg" style="resize: none;"></textarea><input type="button" value="전송" id="send"/>
			</form>
		</div><!-- 입력폼, submit버튼 -->
	</div>
</body>
</html>